.container{
    width: 100%;
    background-color: rgb(248, 243, 243);
    padding-top: 10px;
    padding-bottom: 10px;
}
mat-form-field{
    width: 95%;
}
.main{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 20px;
    color: rgb(82, 82, 122);
}